.list-layers{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);    
    overflow: auto;

    .wrapper{
        padding: 1rem;
    }

    ul{
        list-style-type: none;

        li{
            margin: 0.6rem 0 0.6rem 1rem;
            position: relative;

            &.has-node::before{
                content:"";
                top: -12px;
                left: -10px;
                content: "";
                position: absolute;
                width: 10px;
                border-bottom: 2px solid black;
                border-left: 2px solid black;
                height: 24px;   
            }
        }   
    }
}